<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for displaying a single view for a domain object

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			Show.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="main">

        <h3><f:translate key="templates_ecosystem_feedback.headline" /></h3>
        <p><f:translate key="templates_ecosystem_feedback.introduction" /><f:if condition="{ecosystem.title}"> "{ecosystem.title}"</f:if>.</p>
        <p><f:translate key="templates_ecosystem_feedback.introductionHint" /></p>

        <f:render partial="FlashMessages" arguments="{_all}" />

        <!-- form -->
		<f:form action="expertFeedbackSend" name="ecosystem" object="{ecosystem}" >
            <div class="flex-container">
                <div class="form flex flex-basis-12 full-width-medium space-between">
                    <div class="form__field break-after">
                        <f:form.textarea
                            name="remark"
                            placeholder="<f:translate key='templates_ecosystem_feedback.placeholder' />"
                        />
                    </div>
                    <div class="flex space-start btn-list">
                        <f:link.page class="btn btn--secondary" pageUid="{settings.ecosystemPid}"><f:translate key="templates_ecosystem_feedback.cancel" /></f:link.page>
                        <f:form.submit class="btn btn--primary" value="<f:translate key='templates_ecosystem_feedback.send' />" />
                    </div>
                </div>
            </div>
		</f:form>

	</f:section>
</html>