@page {
    size: landscape
}

html {
    height: auto;
    min-height: 100%;
}
body {
    height: 100%;
    min-height: 100%;
    color: #333;
    font-family: "Times New Roman", "Times", serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 32px;
    margin: 1cm;
    background-color: #fff;
}

table.content,
table.page-header {
    width: 100%;
    border-spacing: 16px;
    border-collapse: separate;
    margin-top:-16px;
}

/* Header */
table.page-header {
    margin-bottom:16px;
    margin-top:16px;
}

table.page-header td {
    border: none;
    padding:0;
    color: #006349;
    font-size:42px;
    line-height:42px;
}

table.page-header td.header-logo {
    width:300px;
    border: none;
}

/* Content */
table.content td {
    border: 1px solid darkgreen;
    vertical-align: top;
    padding:16px;
    /* maximum height before overlapping on second page */
    height: 235px;
}

/* For pdf view we have to define td width! */
table.content--three td {
    width: 33%;
}
table.content--five td {
    width: 19.8%;
}

table.content p {
    margin:0;
    padding:0;
    margin-bottom:8px;
    line-height:20px;
}
table.content p.description {
    font-style:italic;
}

/*
table.content p.headline {
    font-weight:bold;
    color: #006349;
}
*/

table.content table.header td {
    border:none;
    padding:0;
    width:0;
    height:0;
}

/* first child get maximum width (force second child completely to the right) */
/*
table.content.content--three table.header td:first-child {
    width:440px;
}
table.content.content--five table.header td:first-child {
    width:240px;
}

table.content.content--three table.header td:nth-child(2) {
    width:auto;
    margin-right: 0;
    margin-left: auto;
}

table.content table.header td.headline {
    font-weight:bold;
    color:#006349;
}
*/

table.content p.headline {
    font-weight:bold;
    color:#006349;
    /* position without float */
    display:inline-block;
    text-align:left;
}

table.content .header-image {
    text-align: right;
    margin-top: -35px;
}

/* the use of <br> with CDATA in language file affected the image on the left and on the right */
/*
table.content.content--five td:first-child .header-image img {
    margin-top: -8px;
}
table.content.content--five td:last-child .header-image img {
    margin-top: -8px;
}
*/

/* pseudo additional header, because html2pdf does not works with line breaks of any kind */
p.additional-header {
    text-align: left;
    color: #006349;
    font-weight: bold;
    position: relative;
    top: -50px;
}

table.content p.rating {
    margin-top:24px;
    font-weight:bold;
}

table.content p.text--empty,
table.content p.rating--empty {
    font-style:italic;;
}

/* Footer */
.page-footer {
    font-family: Arial, Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:#fff;
    font-weight: normal;
    line-height: 16px;

    padding: 8px 16px;
    margin: 0 16px;
    margin-top:16px;
    background-color:#74b929;
}